* {
  padding: 0;
  margin: 0;
}

.backgroundImg {
  background-image: url("./images/TLNew2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

}

.zoom {
  zoom: 85%;
}
.content-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.carousel-container {
  width: 400px;
  height: 80%;
  display: flex;
}
.text-shadow {
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblue;
}
